<div class="media">
    <div class="media-left">
        <div class="date">
            <strong>
            {{ fields.field_date.content }}
            </strong>
        </div>
        {{ fields.body.content }}
    </div>
    <div class="media-body">
        {{ fields.field_fayl.content }}
    </div>
</div>
