<div class="inner-wrap">
    <img{{ attributes.setAttribute('src', fields.field_cover.content) }} alt="" class="img-responsive">
    <div class="title">
        {{ fields.title.content }}
    </div>
</div>