<div class="grid-item">
    <a{{ attributes.setAttribute('href', fields.body.content) }} target="_blank" class="link">
        <img{{ attributes.setAttribute('src', fields.field_cover.content) }} alt="" class="img-responsive">
    </a>
</div>